// The styles for the keybaord, which is what the user clicks on to make a guess

.keyboard {
  text-align: center;
  font-size: 1.5rem;
}

@include media-breakpoint-up(sm) {
  .keyboard {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  .keyboard {
    font-size: 2.5rem;
  }
}

.keyboard-key {
  display: inline-block;
  width: 1.4em;
  font-size: 1em;
  margin: 0.1em;
  padding: 0.2em;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}

@include media-breakpoint-up(sm) {
  .keyboard-key {
    font-size: 2em;
  }
}

@include media-breakpoint-up(md) {
  .keyboard-key {
    font-size: 1em;
  }
}

.keyboard-key-correct {
  background-color: darkcyan;
  color: white;
}

.keyboard-key-incorrect {
  background-color: lightcoral;
  color: white;
}
