// The styles for the puzzle component which displays the letters to be filled
// in by the user.

.puzzle {
}

.puzzle-word {
  display: inline-block;
  margin: 0.2em 0.75em;
}

.puzzle-place {
  display: inline-block;
  width: 2.5rem;
  font-size: 2rem;
}

.puzzle-place-letter {
  margin-right: 0.3rem;
  border: 1px solid #ccc;
  text-align: center;
}

.puzzle-place-punctuation {
  width: 1rem;
}
